<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843187100290-jfvnn15utj3ojg7tjg1d88o9aae3thls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843187100290-jfvnn15utj3ojg7tjg1d88o9aae3thls</string>
	<key>API_KEY</key>
	<string>AIzaSyDa8-h13xtMVGEgBBVdERGF3b1FH1gUIiU</string>
	<key>GCM_SENDER_ID</key>
	<string>843187100290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.msSupplierApp</string>
	<key>PROJECT_ID</key>
	<string>multi-s-b26c8</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-s-b26c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843187100290:ios:5bfa757bafa4c66092f29b</string>
</dict>
</plist>